body {
    width: 450vh ;
    height: 500px;
    background-image: url(./sfondo.png);
    background-IM
}
table { border: 1px solid black;
            
}
td,th {
   background-color: rgb(148, 141, 216);
    border: 1px solid black;
    border-collapse: collapse;
}
img{
    width: 100px;
    padding-bottom: 1em;
}
h1 {
    font-size: 2em;
    font-weight: bold; 
    margin-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase; 
}
header {
    text-align: center;
    width: 100px;
    margin-left: 35px;
    background-color: rgba(0, 153, 190, 255);
    border: solid 1px white;
    box-shadow: 8px 2px 31px 5px #747474;
}
#menu1 {
    font-size: 10px;
    list-style-type: none;
}